*{
    margin: 0px;
    padding:0px;
 
}
.menu-bar{
    background-image: linear-gradient(-90deg,#1379da,#0511b9);
 
}
 .navbar-brand{
    color: #fff !important;
    font-size: 40px;
    font-family:Verdana;
}
.nav-link{
    font-size: 20px;
    margin: 3px;
    color: #fff!important;
    font-weight: 500
}
.navbar-nav{
    text-align: right;
    margin-right: 20px;
}
.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border:none !important;
}
.navbar .fa{
    color: white!important;
    font-size: 26px;
}
.nav-link:hover{
    font-weight: 1px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.dropdown-item.menu-bar{
    color: #fff !important;
}
@media only screen and (max-width:1000px){
    .nav-link:hover{
        border-bottom:none!important;
    }/*hi*/
}
